<div class="headline">
  <div class="line">
  </div>
  <div class="headlineContact">{{'Contact'|translate}}</div>
</div>

<div class="contactBody" id="contact">
  <div class="contactHead">
    <div class="problem">{{'problem'|translate}}</div>
    <br>
    <div class="problemContent"> {{'ideas'|translate}}
      <br>
      <br>{{'dev'|translate}}
    </div>
  </div>
  <div class="contactBox">
    <form (ngSubmit)="onSubmit(contactForm)" #contactForm="ngForm">

      <input class="contactName" [(ngModel)]="contactData.name" type="text" id="name" name="name" required placeholder="Your name">

      <input class="contactMail" [(ngModel)]="contactData.email" type="email" id="email" name="email"
        placeholder="Your email" required  pattern="[a-zA-Z0-9._%+\-]+@[a-zA-Z0-9.\-]+\.[a-zA-Z]{2,}">

      <textarea #message="ngModel" class="contactMessage" [(ngModel)]="contactData.message" minlength="4" id="message"
        name="message" placeholder="Your message" style="height:200px"></textarea>

      @if(!message.valid && message.touched && !message.disabled){
      <span>{{'dev'|translate}}</span>
      }
      <div>
        <label class="checkBox-container">
          <input type="checkbox" [(ngModel)]="isChecked" name="myCheckbox" class="checkBox"><label
            class="checkBox-container">
            <input type="checkbox" [(ngModel)]="isChecked" name="myCheckbox" class="checkBox">
            <span class="checkmark"></span>
            <div class="checkBoxText">{{'pp'|translate}}</div>
          </label>
        </label>
        <!-- <p>Status: {{ isChecked ? 'Checked' : 'Unchecked' }}</p> -->
      </div>
      <input class="contactButton crusor" type="submit" [disabled]="!isChecked" value="Send message :-)">
    </form>
  </div>
</div>