<div class="headline">
  <div class="line">

  </div>
  <div class="headlineContact">Contact</div>
</div>

<div class="contactBody" id="contact">
  <div class="contactHead">
    <div class="problem">Got a problem to solve?</div>
    <br>
    <div class="problemContent"> Contact me through this form. I am interested in hearing
      from you, <br>knowing your ideas, and contributing to your projects with my work.

      <br>
      <br>Need a Developer? Contact me!
    </div>
  </div>
  <div class="contactBox">
    <form (ngSubmit)="onSubmit(contactForm)" #contactForm="ngForm">

      <input class="contactName" [(ngModel)]="contactData.name" type="text" id="name" name="name"
        placeholder="Your name">

      <input class="contactMail" [(ngModel)]="contactData.email" type="email" id="email" name="email"
        placeholder="Your email" required pattern="[a-zA-Z0-9._%+\-]+@[a-zA-Z0-9.\-]+\.[a-zA-Z]{2,}">

      <textarea #message="ngModel" class="contactMessage" [(ngModel)]="contactData.message" minlength="4" id="message"
        name="message" placeholder="Your message" style="height:200px"></textarea>

      @if(!message.valid && message.touched && !message.disabled){
      <span>Please enter a message</span>
      }
      <form>
        <label class="checkBox-container">
          <input type="checkbox" [(ngModel)]="isChecked" name="myCheckbox" class="checkBox"><label
            class="checkBox-container">
            <input type="checkbox" [(ngModel)]="isChecked" name="myCheckbox" class="checkBox">
            <span class="checkmark"></span>
            <div class="checkBoxText">I’ve read the privacy policy and agree to the processing of my data as
              outlined.</div>
          </label>

        </label>
        <p>Status: {{ isChecked ? 'Checked' : 'Unchecked' }}</p>
      </form>

      <input class="contactButton" type="submit" [disabled]="!isChecked" value="Send message :-)">

    </form>
  </div>
</div>