.body {
    display: flex;
}

.image-container {
    position: relative;
    /* Oder absolute, je nach Bedarf */
    width: 646px;
    height: 705px;
    top: 106px;
    left: 47px;
}

.image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* Alternativ: contain, fill, etc. je nach gewünschtem Verhalten */
}

.heroName {
    display: flex;
    align-items: center;
    justify-content: center;

}

.heroIAm {
    writing-mode: vertical-rl;
    transform: rotate(180deg);
    font-size: 64px;
    font-weight: 400;
}

.heroAlain {
    font-size: 90px;
    font-weight: 700;
}

.heroSoftware {
    font-size: 58px;
    font-weight: 400;
}

.heroButton {
    width: 165px;
    height: 58px;
    border-radius: 10px;
    font-size: 23px;
    font-weight: 400;
    background-color: #70E61C;
    color: white;
}

.heroLine {
    width: 100px;
    height: 1px;
    background-color: #9747FF;
}

.heroSozial {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 150px;
}