<div class="body">
    <div class="image-container ">

        <img src="./assets/img/testPic.jpg" alt="">
    </div>
    <div class="heroName">
        <div class="heroIAm">
            I am
        </div>
        <div>
            <div class="heroAlain">Alain Soltau </div>
            <div class="heroSoftware"> Software Engineer</div>
            <button class="heroButton">Let´s talk!</button>
        </div>
    </div>
    
</div>
<div class="heroSozial">
    <div class="heroLine"></div>
    <img src="./assets/img/gitHub.png" alt="">
    <img src="./assets/img/post.png" alt="">
    <img src="./assets/img/linkedIn.png" alt="">
    <div class="heroMail">alainsoltauATEmail</div>
</div>