<div class="heroBackground">
</div>
<div class="body">
    <div class="image-container ">
        <!-- <img class="purple" src="./assets/img/33. Purple shadow Footer.png" alt=""> -->

        <!-- <img class="pink" src="./assets/img/GReen shadow.svg" alt=""> -->

        <img class="mePic" src="./assets/img/testpic4.png" alt="">

    </div>
    <div class="heroName">
        <div class="heroIAm">
            I am
        </div>
        <div>
            <div class="heroAlain">Alain Soltau </div>
            <div class="heroSoftware"> Software Engineer</div>
            <a href="#contact"><button class="heroButton btn-two">Let´s talk!</button></a>
        </div>
    </div>
</div>
<div>
    <div class="heroSozial">
        <div class="heroLine"></div>
        <a href="https://github.com/Wolvye">
            <img src="./assets/img/gitHub.png" alt="">
        </a>
        <a href="#contact">
            <img src="./assets/img/post.png" alt="">
        </a>
        <a href="https://de.linkedin.com/in/alain-soltau">
            <img src="./assets/img/linkedIn.png" alt="">
        </a>
        <div class="heroMail">alainsoltauÄTEmail</div>
    </div>