<div class="bodySkill" id="skills">
    <div class="allImg">
        <div><img src="./assets/img/html.png" alt="HTML LOGO"><br>HTML</div>
        <div><img src="./assets/img/Vector (2).png" alt="CSS LOGO"><br>CSS</div>
        <div><img src="./assets/img/Javascript.png" alt="JavaScript"><br>JavaScript</div>
        <div><img src="./assets/img/Vector (3).png" alt="TypeScript"><br>TypeScript</div>
        <div><img src="./assets/img/Firebase.png" alt="Firebase"><br>Firebase</div>
        <div><img src="./assets/img/git.png" alt="GIT"><br>GIT</div>
        <div> <img src="./assets/img/Api.png" alt="Rest-Api"><br>Rest-Api</div>
        <div><img src="./assets/img/scrum.png" alt="Scrum"><br>Scrum</div>
        <div><img src="./assets/img/Frame.png" alt="Material Design"><br>Material <br>Design</div>
        <div><img src="./assets/img/SQL.png" alt="SQL"><br>SQL</div>
        <div><img src="./assets/img/Linux.png" alt="Linux"><br>Linux</div>
        <div><img src="./assets/img/Python.png" alt="Python"><br>Python</div>
        <div><img src="./assets/img/Cloud.png" alt="Cloud"><br>Cloud</div>
        <div><img src="./assets/img/Capa_1.png" alt="Continually learning"><br>Continually <br>learning</div>
    
    </div>
</div><div>
<div class="skillText" >
    <div>MY SKILLS</div>
    <div>BlaBla</div>
    <div>BIG BLA BLA</div>
    <div>Bla Bla</div>
    <button>Get in touch</button>
</div>
</div>