.bodySkill {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.allImg  {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 88px;
  
}

.skillText {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    
}