<div class="skillBody">
    <div class="bodySkill" id="skills">
        <div class="allImg" data-aos="fade-up" data-aos-anchor-placement="top-bottom">
            <div><img src="./assets/img/html.png" alt="HTML LOGO"><br>HTML</div>

            <div><img src="./assets/img/Vector (2).png" alt="CSS LOGO"><br>CSS</div>
            <div><img src="./assets/img/Javascript.png" alt="JavaScript"><br>JavaScript</div>
            <div><img src="./assets/img/Vector (3).png" alt="TypeScript"><br>TypeScript</div>
            <div><img src="./assets/img/Firebase.png" alt="Firebase"><br>Firebase</div>
            <div><img src="./assets/img/git.png" alt="GIT"><br>GIT</div>
            <div><img src="./assets/img/Api.png" alt="Rest-Api"><br>Rest-Api</div>
            <div><img src="./assets/img/scrum.png" alt="Scrum"><br>Scrum</div>
            <div><img src="./assets/img/Frame.png" alt="Material Design"><br>Material<br>Design</div>
            <div><img src="./assets/img/SQL.png" alt="SQL"><br>SQL</div>
            <div><img src="./assets/img/Linux.png" alt="Linux"><br>Linux</div>
            <div><img src="./assets/img/Python.png" alt="Python"><br>Python</div>
            <div><img src="./assets/img/Cloud.png" alt="Cloud"><br>Cloud</div>
            <div>
                <img src="./assets/img/Capa_1.png" alt="Continually learning"><br>Continually<br>learning
            </div>
        </div>
        <div class="d-none smallText">
            <div class="looking2 textInText2"> {{'looking2'| translate}}</div>
            <div class="textInText2"> {{'free'| translate}}
            </div>
            <a href="#contact"><button class="buttonGet2 btn-two">{{'get'| translate}}</button></a>
        </div>
    </div>
    <div class="skillText">
        <div class="MySkillWithLine">
            <div class="mySkills">{{'skills'| translate}}</div>
            <div class="line"></div>
        </div>
        <div class="textInText">{{'exp'| translate}}</div>
        <br>
        <div class="looking textInText">{{'looking2'| translate}}</div>
        <div class="textInText"> {{'free'| translate}}
        </div>
        <a href="#contact"><button class="buttonGet btn-two">Get in touch</button></a>
    </div>
</div>7