<div class="portBody">
    <div class="portTop">Portfolio<div class="portLine"></div></div>
    
    <div>Explore a selection of my work here - Interact with projects to see my skills in action</div>
    <div class="blockLeft">
        <div><img src="./assets/img/Join.png" alt=""></div>
        <div>
            <div> Join</div>
            <div>Angular | TypeScript | HTML |  CSS | Firebase </div>
            <div> Task manager inspired by the Kanban System. Create and organize tasks using drag and drop functions, assign users and categories.</div>
            <div><button>Live test</button> <button>Github</button></div>
        </div>
    </div>

    <div class="blockRight">
        <div>
            <div> Join</div>
            <div>Angular | TypeScript | HTML |  CSS | Firebase </div>
            <div> Task manager inspired by the Kanban System. Create and organize tasks using drag and drop functions, assign users and categories.</div>
            <div><button>Live test</button> <button>Github</button></div>
        </div>
        <div><img src="./assets/img/Pollo loco .png" alt=""></div>
    </div>
</div>
