.portTop {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  position: relative;
  font-size: 90px;
  font-weight: 700;
  gap: 25px;
}

.lineSmall {
  height: 4px;
  background-color: #9747FF;
  width: 100px;
  flex-shrink: 0;
}

.portLine {
  height: 4px;
  background-color: #9747FF;
  position: absolute;
  left: calc(50% + 250px); /* Adjust to stop 25px before Portfolio */
  right: 0;
  margin-left: 25px; /* Optionaler Abstand links */
}

.portBody {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  text-align: center;
}

.blockLeft,
.blockRight {
  display: flex;
  align-items: center;
  gap: 50px;
  margin-bottom: 20px;
  height: 340px;
  width: 1170px;
}

.blockLeft img,
.blockRight img {
  width: 620px;
  height: auto;
}

.blockLeft {
  justify-content: start;
}

.blockRight {
  justify-content: end;
}

.blockLeft > div:first-child,
.blockRight > div:last-child {
  flex-shrink: 0;
}

.blockLeft > div:not(:first-child),
.blockRight > div:not(:last-child) {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex: 1;
}
