<div class="portBody" id="portfolio">
    <div class="portTop">
        <div class="lineSmall"></div>Portfolio<div class="portLine"></div>
    </div>

    <div class="SubTitleTop">Explore a selection of my work here - Interact with projects to see my skills in action
    </div>
    <div class="blockLeft" data-aos="fade-left">
        <div>
            <img src="./assets/img/Join.png" alt="">
        </div>
        <div>
            <div class="title">Join</div>
            <div class="subTitle">Angular | TypeScript | HTML | CSS | Firebase </div>
            <div class="subTitleContent"> Task manager inspired by the Kanban System. Create and organize tasks using
                drag and drop functions,
                assign users and categories.</div>
            <div class="buttonDiv">
                <a href="https://alain-soltau.de/join/index.html">
                    <button class="buttonLive">Live test</button>
                </a>
                <a href="https://github.com/Wolvye/Join">
                    <button class="buttonGit">Github</button>
                </a>
            </div>
        </div>
    </div>



    <div class="blockRight " data-aos="fade-right">
        <div>
            <div class="title"> El Pollo Loco</div>
            <div class="subTitle">JavaScript | Canvas | HTML | CSS | OOP </div>
            <div class="subTitleContent"> A simple Jump and Run game based on an object-oriented approach. Help Gustavo
                to find coins and Tabasco bottles to fight against the Killerchicken.</div>

            <div class="buttonDiv">
                <a href="">
                <button class="buttonLive">Live test</button></a>
                <a href="https://github.com/Wolvye/ElPolloLoco">
                <button class="buttonGit">Github</button></a>
            </div>
        </div>
        <div><img src="./assets/img/Pollo loco .png" alt=""></div>
    </div>

    <div class="blockLeft" data-aos="fade-left">
        <div>
            <img src="./assets/img/pokedex.png" alt="">
        </div>
        <div>
            <div class="title">Pokedex</div>
            <div class="subTitle">JavaScript | HTML | CSS | API </div>
            <div class="subTitleContent"> The Pokedex API in JavaScript enables CRUD operations (Create, Read, Update,
                Delete) for Pokémon data. It includes the creation of RESTful endpoints, efficient data management, data
                validation, and error handling.</div>
            <div class="buttonDiv"><button class="buttonLive">Live test</button> <button
                    class="buttonGit">Github</button>
            </div>
        </div>
    </div>

</div>