.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 110px;
    padding-left: 37px;
    padding-right: 37px;
    top: 0;
    position: sticky;
    z-index: 1000;
    background-color: #141D2F;
}

.bulletPoints {
    display: flex;

}

.bulletPoints>a {
    margin-right: 20px;
    font-size: 24px;
    text-decoration: none;
}

.bulletPoints>a:last-child {
    margin-right: 0;
}

.alain {
    font-size: 60px;
    padding-left: 4%;
}

.burger {
    display: none;
}



@media screen and (max-width: 1060px) {
    .btn {
        display: none;
    }

    .burger {
        display: inline;
    }

    .btnMenu {
        display: flex;
        align-items: center;
        justify-content: center;


    }
}