<div class="header">
    <div class="alain">Alain</div>
    <nav class="bulletPoints">
        <img class="burger" src="./assets/img/burger.png" alt="" (click)="toggleVisibility()">
        <p (click)="translate.switchLanguage('en')">EN</p>
        <p (click)="translate.switchLanguage('de')">DE</p>
        <a class="btn btn-two" href="#aboutMeTitle">About me</a>
        <a class="btn btn-two" href="#skills">Skills</a>
        <a class="btn btn-two" href="#portfolio">Portfolio</a>
    </nav>
</div>
<div [ngClass]="{'d-none': isHidden}">
    <div class="btnMenu d-none">
        <p (click)="translate.switchLanguage('en')">EN | </p>
        <p (click)="translate.switchLanguage('de')"> DE</p>
        <a class="btn2" href="#aboutMeTitle">About me</a>
        <a class="btn2" href="#skills">Skills</a>
        <a class="btn2" href="#portfolio">Portfolio</a>
    </div>
</div>