.d-none {
    display: none;
}

.d-inline {
    display: inline;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 110px;
    padding-left: 37px;
    padding-right: 37px;
    top: 0;
    position: sticky;
    z-index: 1000;
    background-color: #141D2F;
}

.bulletPoints {
    display: flex;
}

.bulletPoints>a {
    margin-right: 20px;
    font-size: 24px;
    text-decoration: none;
}

.bulletPoints>a:last-child {
    margin-right: 0;
}

.alain {
    font-size: 60px;
    padding-left: 4%;
}

.burger {
    display: none;
}

.d-none {
    display: none;
}

.btnMenu {
    display: none;
}

.transButton {
    cursor: pointer;
}

.transButton:hover {
    color: #70E61C;
}

@media screen and (max-width: 1060px) {
    .btn {
        display: none;
    }

    .burger {
        display: inline;
        z-index: 1002;
        position: relative;
        margin-right: 15px;
    }

    .burger:hover {
        cursor: pointer;

    }

    .btnMenu {
        display: flex;
        align-items: center;
        justify-content: center;
        position: fixed;
        flex-direction: column;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        height: 100vh;
        background-color: rgba(44, 42, 42, 0.95);
        font-size: 70px;
        z-index: 999;
        gap: 50px;

        >a {
            color: white;
            text-decoration: none;
        }

        >a:hover {
            cursor: pointer;
            color: #70E61C;
        }

    }
}

@media screen and (max-width: 400px) {
    .btnMenu {
        font-size: 40px;

    }
}