<div class="header" >
    
    <div  class="alain"> 
        <a href="#alain">
         <img src="./assets/img/Alain_logo.png" alt=""></a>
    </div>
    <nav class="bulletPoints">
        <img class="burger" src="./assets/img/burger.png" alt="" (click)="toggleVisibility()">
        <a class="transButton" (click)="translate.switchLanguage('en')">EN</a>
        <a class="transButton" (click)="translate.switchLanguage('de')">DE</a>
        <a class="btn btn-two" href="#aboutMeTitle">About me</a>
        <a class="btn btn-two" href="#skills">Skills</a>
        <a class="btn btn-two" href="#portfolio">Portfolio</a>
    </nav>
</div>
<div [ngClass]="{'d-none': isHidden}">
    <div class="btnMenu"  (click)="toggleVisibility2()">
        <a class="btn2 transButton" href="#aboutMeTitle">About me</a>
        <a class="btn2 transButton" href="#skills">Skills</a>
        <a class="btn2 transButton" href="#portfolio">Portfolio</a>
    </div>
</div>