<div class="main">

  <div>
    <div class="aboutMeTitle" >{{"aboutMe" | translate}}</div>
    <div class="meFirstPart">
      {{'meFirstPart'| translate}}
    </div>

    <div class="meDis">
      <img src="./assets/img/positionGreen.png" alt="">
      <div>
        {{'meDis'| translate}}

      </div>
    </div>

    <div class="meDis">
      <img src="./assets/img/lightGreen.png" alt="">
      <div>
        {{'meDis2'| translate}}

      </div>
    </div>

    <div class="meDis">
      <img src="./assets/img/puzzleGreen.png" alt="">
      <div>
        {{'meDis3'| translate}}
      </div>
    </div>
  </div>
  <div class="aboutMePic" >
    <img src="./assets/img/fratze.png" alt="" data-aos="zoom-out-left">
    <div class="line"></div>
  </div>
 
</div>