<div class="main">
    
    <div>
      <div class="aboutMeTitle">About me</div>
      <div>Hi, I’m a german speaking Frontend Developer based near <br>Munich. Motivated by the limitless opportunities within IT, I <br>am excited about crafting visually captivating and <br>intuitive websites and applications.</div>
      <div><img src="./assets/img/positionGreen.png" alt="">Flexible in terms of working environments, I can <br>work effectively both on-site in Munich and remotely.</div>
      <div><img src="./assets/img/lightGreen.png" alt="">I am open-minded and always looking for personal challenges to constantly improve my knowledge and skills.</div>
      <div><img src="./assets/img/puzzleGreen.png" alt="">In my profession, programming isn't just about writing code; it's a creative form of problem-solving. I take pride in my ability to distill complex technical challenges into simple, user-friendly solutions. This way, I help you achieve your goals and bring your visions to life.</div>
    </div>
    <div class="aboutMePic">
      <img src="./assets/img/testPic2.jpg" alt="">
    </div>
  </div>
  