<div class="main">

  <div>
    <div class="aboutMeTitle" id="aboutMeTitle">About me</div>
    <div class="meFirstPart">
      Hi, I’m a German-speaking Junior Developer based in Hamburg. <br>
      Passionate about the endless possibilities in IT,<br> 
      I specialize in creating visually appealing and user-friendly websites and applications. <br>
      I thrive on bringing innovative ideas to life through code.
    </div>

    <div class="meDis">
      <img src="./assets/img/positionGreen.png" alt="">
      <div>
        I am adaptable to various working environments and can work efficiently<br>
        both on-site in Hamburg and remotely. Whether collaborating with a team <br>
        in person or working independently from a remote location,
        <br>I consistently deliver high-quality results and maintain strong communication.
      </div>
    </div>

    <div class="meDis">
      <img src="./assets/img/lightGreen.png" alt="">
      <div>
        I am open-minded and continually seek personal challenges to
        enhance my knowledge and skills.<br>
        I thrive on opportunities for growth and am always eager to learn and develop
        professionally.
      </div>
    </div>

    <div class="meDis">
      <img src="./assets/img/puzzleGreen.png" alt="">
      <div>
        In my profession, programming isn't just about writing code; it's a creative form of problem-solving. <br>
        I take pride in my ability to distill complex technical challenges into <br>
        simple, user-friendly solutions. This way, I help you achieve your goals and <br>bring your visions to life.</div>
    </div>
  </div>
  <div class="aboutMePic">
    <img src="./assets/img/fratze.png" alt="" data-aos="zoom-out-left">
    <div class="line"></div>
  </div>
</div>