.aboutMePic img {
  width: 450px;
  height: 450px;
  border-radius: 50%;
  border: 5px solid #70E61C;
  object-fit: cover;
  position: 1;

}

.main {
  display: flex;
  justify-content: space-between;
  padding-left: 37px;
  background-image: url("/assets/img/30. Purple shadow about me (1).png");
  background-repeat: no-repeat, no-repeat;
  background-position: 1200px 60px;
  background-size: 20%;
  position: relative;
}

.aboutMeTitle {
  font-size: 90px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.line {
  height: 4px;
  width: 270px;
  background-color: #70E61C;
}

.aboutMePic {
  display: flex;
  align-items: center;
  z-index: 5;
  position: relative;
}

.meDis {
  display: flex;
   gap: 20px;
  margin-bottom: 20px;
  align-items: center;
}

.meDis img {
  height: 50px;
  width: 50px;
  transition: transform 0.3s ease-in-out;
}

.meDis img:hover {
  transform: scale(1.9);
}

.meFirstPart {
  margin-bottom: 20px;
}
.gap{
  width: 10%;
}


@media screen and (min-width: 2000px) {
  .out{
   
    max-width: 2000px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
 
  }
  .gap{
    width: 15%;
  }
  .line{
    position: absolute;
    left: calc(50% + 225px);
    right: 0;
    width: 500%;
  }
  
}
@media screen and (max-width: 1080px) {
  .line {
    width: auto;
  }

  .aboutMePic {
    display: none;
  }

}

@media screen and (max-width: 600px) {
  .aboutMeTitle {
    font-size: 60px;
  }
}

@media screen and (max-width: 400px) {
  .aboutMeTitle {
    font-size: 60px;
  }
    .meDis img {
      height: 40px;
      width: 40px;
  }
  .main{
    padding-left: 0;
  }
  .meDis{
    gap: 0;
  }
}