<div class="footerBody">
<div class="footerLine"></div>
<div class="footerContent">
    <div class="footerTitle">Alain
        <a class="impressum" routerLink="/imprint">Impressum</a>
    </div>
    <div class="footerCopyR">© Alain Soltau 2024</div>
    <div class="footerImg heroSozial" >
        <a href="https://github.com/Wolvye">
            <img src="./assets/img/gitHub.png" alt="">
        </a>
        <a href="#contact">
            <img src="./assets/img/post.png" alt="">
        </a>
        <a href="https://de.linkedin.com/in/alain-soltau">
            <img src="./assets/img/linkedIn.png" alt="">
        </a>
    </div>
    <br> 
    <div class="impressum2" routerLink="imprint">Impressum</div>
  
</div>
</div>