.footerBody {
    height: 280px;
}

.footerLine {
    width: 100%;
    height: 4px;
    background-color: #70E61C;
}

.footerContent {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 280px;
}

.footerImg {
    Display: flex;
    gap: 32px;
    align-items: center;
    justify-content: center;
    padding-right: 8%;

}


.footerTitle {
    font-size: 60px;
    padding-left: 20%;
    display: flex;
    flex-direction: column;
}

.footerTitle a {
    font-size: 20px;
}
.footerCopyR{
    font-size: 28px;
}


.heroSozial {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    left: 0;
    z-index: 5;
    position: relative;
}

.heroSozial img {
    margin: 20px;
    transition: transform 0.3s ease-in-out; 
}

.heroSozial img:hover {
    transform: scale(1.9);
}

.impressum,
.impressum2{
    font-size: 32px;
}
.impressum2{
    display: none;
}
@media screen and (max-width: 700px){
    .footerContent{
        flex-direction: column;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .impressum{
        display: none;
    }
    .impressum2{
        display: inline;
    }
    .footerTitle{
        padding-left: 0;
    }
    .footerImg{
        padding-right: 0;
        gap: 10px;
    }
}